<!DOCTYPE html>
<html lang="en"  dir="rtl">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Detail</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    {% for message in messages %}
        <p class="alert alert-{{ message.tags }}"> {{ message }} </p>
    {% endfor %}
    <nav dir="rtl" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div  class="container-fluid mx-5">
          <li>
          <a class="btn btn-success pd-2 " aria-current="page" href="{% url 'first:index' %}">صفحه اصلی</a>
          {% if request.user.is_authenticated %}
          <a class="btn btn-success" href="{% url 'first:add_Schadule' %}">ثبت تغییرات</a>
          <a class="btn btn-success" href="">اعلان جدید</a>
          <a class="btn btn-success" href="">ویرایش</a>
          
          <li><a class="btn btn-danger mx-2 " aria-current="page" href="{% url 'account:logout' %}">خروج</a></li>
          
        
          {% else %}
          <a class="btn btn-outline-success mx-2" aria-current="page" href="{% url 'account:login' %}">ورود</a>
          {% endif %}
        </li>
        </div>
      </nav>
      <br>
      <br>
      <br>
<br>
<div  class="container-fluid col-md-12">
<div class="col-xs-6 col-sm-6">
</div>

 
</div>
<br/>
<br/>
<br/>
<br/>

<table class="table table-striped  ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">مبدا</th>
        <th scope="col">مقصد</th>
        <th scope="col">ایرلاین</th>
        <th scope="col">شماره پرواز</th>
        <th scope="col">تاریخ پرواز</th>
        <th scope="col">ساعت پرواز</th>
        <th scope="col">ساعت ثبت تغییرات</th>
        <th scope="col">وضعیت</th>
        <th scope="col">سازنده</th>
      </tr>
    </thead>
    
    <tbody>
        <tr>
          <th scope="row" >{{ flight.id}}</th>
          <td>{{ flight.Flight_Origin }}</td>
          <td>{{ flight.Flight_Distination }}</td>
          <td>{{ flight.Flight_Airline }}</td>
          <td>{{ flight.Flight_Nomber }}</td>
          <td>{{ flight.Flight_Date|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ flight.Flight_Time|time:"H:i" }}</td>
          <td>{{ flight.created }}</td>
          <td>{{ status.schadulestatus }}</td>
          <td>user</td>
        </tr>
        
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>

    <div  class="container-fluid mx-5 px-2  ">
    <div class="col-xs-6 col-sm-6 bg-outline-dark"><h3><small>پیگیری ها</small></h3>
      <p>{{ comments.count }} اعلان ثبت شده است .</p>
      {% if request.user.is_authenticated %}
      <div  class="container-fluid mx-5 px-2 ">
        <form method="post" action="" novalidate class="col-md-6 ">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="send" class="btn btn-primary">
        </form>
      {% else %}
        <p>برای ثبت اعلان باید حتما به حساب کاربری خود وارد شوید </p>
      {% endif %} <br>
      {% for comment in comments %}
        <div class="card bg-light">
          <label class="col-sm-2 control-label mx-2 px-2" for="formGroupInputLarge">{{ comment.user }}{{ comment.created }}</label>  
          <p class="card-body">{{ comment.body }}</p>
          <br>
          {% if request.user.is_authenticated %}
          <div class="card-body">
                  {% for reply in comment.rcomment.all %}
                  <p class="card bg-primary text-white p-3 m-5 ">{{ reply.user }}{{ reply.created }} <br/> {{ reply.body }}</p>
                {% endfor %}  
                <br>
            <form action="{% url 'first:add_reply' flight.id comment.id %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Send">
              </form>
          </div>
          {% else %}
          <p> yu must logged in to write a comment</p>
  
          {% endif %}
        </div>
      
  {% empty %}
  <p>هنوز پیگیری صورت نگرفته است .</p>    
    {% endfor %}
  </div>
    
  </div>
</body>
</html>